<div id="main">

<h1 style="display:inline">Word up!</h1>

<a target="_blank" href="http://www.youtube.com/watch?v=fHAdfGlZHk4">What's the word?</a>

<p>This site provides word definitions for the Wordsmith jQuery plug-in.</p>

<p>See the <a href="http://getwordsmith.co/">Wordsmith Homepage</a> for more information.</p>

</div>
