<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/definition.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" href="/wordsmith.css" type="text/css" media="all" />
</head>
<body>
<div class="title"><img class="pad" src="/Wordsmith_Logo.png" /></div>
<%= yield %>
</body>
</html>
